body {
   background: white }
section {
     background: #1E90FF;
     color: black;
     border-radius: 50em;
     padding: 5em;
     position: absolute;
     top: 15%;
     left: 50%;
     margin-right: -50%;
     transform: translate(-50%, -50%) }
H3 {
   text-align: center }

H5 {
   text-align: center }
