body {
   background: white }
section {
     background: white;
     color: black;
     border-radius: 0em;
     padding: 1em;
     position: absolute;
     top: 10%;
     left: 50%;
     margin-right: -50%;
     transform: translate(-50%, -50%) }
